<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/b00e3cfa74.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="app">
        <div class="search">
            <img width="283px" height="114px" src="../assets/images/logo.png" alt="">
            <div class="search-sub">
                <div class="search-right">
                    <input type="text" placeholder="Tìm kiếm ...">
                    <!-- Sử dụng biểu tượng search từ Font Awesome -->
                    <span class="icon-search"> <i class="fas fa-search"></i></span>
                </div>
                <a class="login" href="login.html">Đăng nhập</a>
            </div>
        </div>
        <div class="header">
            <ul class="header-list">
                <li class="header-item"><a class="header-link" href="../components/index.html"> Trang chủ</a></li>
                <li class="header-item"><a class="header-link" href="../components/binhgom.html"> Bình Gốm</a></li>
                <li class="header-item"><a class="header-link" href="../components/amchen.html"> Ấm Chén - Bình Trà
                        Gốm</a></li>
                <li class="header-item"><a class="header-link" href="../components/batdiagom.html"> Bát Đĩa Gốm</a></li>
                <li class="header-item"><a class="header-link" href="../components/khaycoc.html"> Khay Cốc Gốm</a></li>
                <li class="header-item"><a class="header-link" href="../components/thapgom.html"> Thạp Gốm Trang Trí
                        Cổ</a></li>
                <li class="header-item"><a class="header-link" href="#"> Đèn Gốm Trang Trí</a></li>
                <li class="header-item"><a class="header-link" href="#"> Tượng Gốm</a></li>
                <li class="header-item"><a class="header-link" href="#"> Đồ Gốm Cổ</a></li>
                <li class="header-item"><a class="header-link" href="#"> Lư Gốm Trang Trí Cổ </a></li>
                <li class="header-item"><a class="header-link" href="#"> Chậu Gốm Đẹp
                    </a></li>
            </ul>
        </div>
        <div class="banner"></div>
        <div class="about">
            <h2 class="about-head">Gốm Trang Trí Đẹp & Đồ Gốm Decor Cao Cấp | Gốm Nghệ Thuật</h2>
            <p class="about-content">Đồ Gốm là những vật dụng và đồ dùng được nung từ đất. Nâng tầm những sản phẩm dung
                dị đó quả là một bài toán khó, nhưng tại đây, đất nung được đẩy lên giá trị cao nhất của nó, chính là
                Gốm Nghệ Thuật.
                Được trau chuốt làm bằng tay hoàn toàn, từ việc truốt gốm đến phủ men, các tác phẩm Gốm Nghệ Thuật ẩn
                chứa những nét duyên vừa mộc mạc vừa tinh tế. Mỗi sản phẩm gốm trang trí từ những chiếc chén, cái
                ấm, cái đĩa, bình hoa… đều mang trong mình một câu chuyện, một tâm tư, một mảnh linh hồn của người làm
                gốm. Các sản phẩm tại Gốm Nghệ Thuật được chọn lọc kĩ càng, mong muốn kết nối những nghệ nhân với các
                nhà sưu tầm yêu nghệ thuật, đồng thời mang đến thông điệp nâng tầm gốm Việt.</p>

            <div class="about-space">
                <div class="space-left">
                    <h3 class="about-head">Gốm Trang Trí Đẹp & Đồ Gốm Decor Cao Cấp | Gốm Nghệ Thuật</h2>
                        <p class="about-content">Đồ Gốm là những vật dụng và đồ dùng được nung từ đất. Nâng tầm những
                            sản phẩm dung
                            dị đó quả là một bài toán khó, nhưng tại đây, đất nung được đẩy lên giá trị cao nhất của nó,
                            chính là
                            Gốm Nghệ Thuật.
                            Được trau chuốt làm bằng tay hoàn toàn, từ việc truốt gốm đến phủ men, các tác phẩm Gốm Nghệ
                            Thuật ẩn
                            chứa những nét duyên vừa mộc mạc vừa tinh tế. Mỗi sản phẩm gốm trang trí từ những
                            chiếc chén, cái
                            ấm, cái đĩa, bình hoa… đều mang trong mình một câu chuyện, một tâm tư, một mảnh linh hồn của
                            người làm
                            gốm. Các sản phẩm tại Gốm Nghệ Thuật được chọn lọc kĩ càng, mong muốn kết nối những nghệ
                            nhân với các
                            nhà sưu tầm yêu nghệ thuật, đồng thời mang đến thông điệp nâng tầm gốm Việt.</p>

                </div>
                <div class="space-right">

                </div>
            </div>
            <div class="about-space " style="margin-top: 0;">
                <div id="decor" class="space-right">

                </div>
                <div class="space-left">
                    <h3 class="about-head">Gốm Decor Cao Cấp - Đa Dạng Mẫu Mã & Tính Năng Sử Dụng</h2>
                        <p class="about-content">Đồ Gốm là những vật dụng và đồ dùng được nung từ đất. Nâng tầm những
                            Bộ sưu tập gốm decor cao cấp có tại Gốm Nghệ Thuật luôn đem đến quý khách hàng những cái
                            nhìn mới lạ, đa dạng và phong phú từ hình thức, kiểu dáng đến tính năng ứng dụng trong cuộc
                            sống. Đó là những mẫu gốm decor cao cấp gia dụng, gốm trang trí, gốm nội thất, gốm cổ...</p>
                        <p class="about-content">Không chỉ vậy, những sản phẩm gốm trang trí cao cấp được tạo hình độc
                            đáo, với những họa tiết tinh xảo và lớp men được tráng một cách công phu sẽ tôn lên cái nét
                            đẹp sang trọng, hiện đại của sản phẩm.</p>

                </div>

            </div>
        </div>
        <div class="product">
            <div class="product-head">
                <h2 class="product-intro">Gốm Trang Trí Đẹp Cao Cấp - Mảnh Ghép Hoàn Hảo Cho Không Gian Sống</h2>
                <p class="about-content">Một món đồ gốm trang trí đẹp sẽ mang đến cái nét đẹp hoài niệm, cổ xưa, làm
                    bừng lên cái vẻ đẹp đặc sắc cho cả không gian sống của gia đình. Hơn nữa, những món đồ gốm décor cao
                    cấp cũng mang cả ý nghĩa phong thủy đến với chủ sở hữu cũng như những tính năng gia dụng tùy theo
                    mục đích của gia chủ.</p>
            </div>

            <div class="products">
                <h2 class="product-list-head">Gốm Gia Dụng</h2>
                <div class="product-list">
                    <div class="product-item">
                        <img width="100%" height="382px" src="../assets/images/anh2.jpeg" alt="">
                        <p class="product-name">Ấm Chén Gốm</p>
                    </div>
                    <div class="product-item">
                        <img width="100%" height="382px" src="../assets/images/anh3.jpeg" alt="">
                        <p class="product-name">Bát Đĩa Gốm</p>
                    </div>
                    <div class="product-item">
                        <img width="100%" height="382px" src="../assets/images/anh4.jpeg" alt="">
                        <p class="product-name">Khay Cốc Gốm</p>
                    </div>

                </div>
            </div>
            <div class="products">
                <h2 class="product-list-head">Gốm Trang Trí</h2>
                <div class="product-list">
                    <div class="product-item">
                        <img width="100%" height="382px" src="../assets/images/anh5.jpeg" alt="">
                        <p class="product-name">Bình Gốm</p>
                    </div>
                    <div class="product-item">
                        <img width="100%" height="382px" src="../assets/images/anh6.jpeg" alt="">
                        <p class="product-name">Đèn Gốm</p>
                    </div>
                    <div class="product-item">
                        <img width="100%" height="382px" src="../assets/images/anh7.jpeg" alt="">
                        <p class="product-name">Tượng Gốm</p>
                    </div>

                </div>
            </div>
            <div class="products">
                <h2 class="product-list-head">Gốm Nội Thất</h2>
                <div class="product-list">
                    <div class="product-item">
                        <img width="100%" height="382px" src="../assets/images/anh8.jpeg" alt="">
                        <p class="product-name">Chao Đèn Gốm</p>
                    </div>
                    <div class="product-item">
                        <img width="100%" height="382px" src="../assets/images/anh9.jpeg" alt="">
                        <p class="product-name">Chậu Rửa Gốm</p>
                    </div>
                    <div class="product-item">
                        <img width="100%" height="382px" src="../assets/images/anh10.jpeg" alt="">
                        <p class="product-name">Bình Chứa Gel Gốm</p>
                    </div>

                </div>
            </div>
            <div class="products">
                <h2 class="product-list-head">Gốm Cổ</h2>
                <div class="product-list">
                    <div class="product-item">
                        <img width="100%" height="382px" src="../assets/images/anh11.jpeg" alt="">
                        <p class="product-name">Tượng Gốm Cổ</p>
                    </div>
                    <div class="product-item">
                        <img width="100%" height="382px" src="../assets/images/anh12.jpeg" alt="">
                        <p class="product-name">Thạp Gốm</p>
                    </div>
                    <div class="product-item">
                        <img width="100%" height="382px" src="../assets/images/anh13.jpeg" alt="">
                        <p class="product-name">Lư Gốm</p>
                    </div>

                </div>
            </div>



            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <h2 class="product-list-head">Sản Phẩm Gốm Nổi bật</h2>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="slider">
                            <div class="card" style="width: 25rem;">
                                <img class="card-img-top" src="../assets/images/anh14.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="slider-detail">ẤM CHÉN - BÌNH TRÀ GỐM ĐẸP</p>

                                    <p class="slider-name">Bộ Ấm Chén Gốm Nghệ Thuật Camila</p>

                                </div>
                            </div>
                            <div class="card" style="width: 25rem;">
                                <img class="card-img-top" src="../assets/images/anh15.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="slider-detail">ẤM CHÉN - BÌNH TRÀ GỐM ĐẸP</p>

                                    <p class="slider-name">Bộ Ấm Chén Gốm Nghệ Thuật Lundergan</p>
                                </div>
                            </div>
                            <div class="card" style="width: 25rem;">
                                <img class="card-img-top" src="../assets/images/anh16.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="slider-detail">ẤM CHÉN - BÌNH TRÀ GỐM ĐẸP</p>

                                    <p class="slider-name">Bộ Ấm Chén Gốm Nghệ Thuật Arent</p>
                                </div>
                            </div>
                            <div class="card" style="width: 25rem;">
                                <img class="card-img-top" src="../assets/images/anh17.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="slider-detail">ẤM CHÉN - BÌNH TRÀ GỐM ĐẸP</p>

                                    <p class="slider-name">Bộ Ấm Chén Gốm Nghệ Thuật Radersburg</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="slider">
                            <div class="card" style="width: 25rem;">
                                <img class="card-img-top" src="../assets/images/anh26.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="slider-detail">ẤM CHÉN - BÌNH TRÀ GỐM ĐẸP</p>

                                    <p class="slider-name">Bộ Ấm Chén Gốm Nghệ Thuật Aloysius</p>

                                </div>
                            </div>
                            <div class="card" style="width: 25rem;">
                                <img class="card-img-top" src="../assets/images/anh27.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="slider-detail">ẤM CHÉN - BÌNH TRÀ GỐM ĐẸP</p>

                                    <p class="slider-name">Bộ Ấm Chén Nghệ Thuật Ridgemoor</p>
                                </div>
                            </div>
                            <div class="card" style="width: 25rem;">
                                <img class="card-img-top" src="../assets/images/anh28.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="slider-detail">ẤM CHÉN - BÌNH TRÀ GỐM ĐẸP</p>

                                    <p class="slider-name">Bộ Ấm Chén Gốm Nghệ Thuật Thawville</p>
                                </div>
                            </div>
                            <div class="card" style="width: 25rem;">
                                <img class="card-img-top" src="../assets/images/anh29.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="slider-detail">ẤM CHÉN - BÌNH TRÀ GỐM ĐẸP</p>

                                    <p class="slider-name">Bộ Ấm Chén Gốm Nghệ Thuật Styron</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div id="carouselExampleControls1" class="carousel slide mt-5" data-ride="carousel1">

                <div class="carousel-inner1">
                    <div class="carousel-item active">
                        <div class="slider">
                            <div class="card" style="width: 25rem;">
                                <img class="card-img-top" src="../assets/images/anh18.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="slider-detail">BÁT ĐĨA GỐM ĐẸP</p>

                                    <p class="slider-name">Bát Gốm Nghệ Thuật Đài Sen</p>
                                    <p class="slider-price">371.000đ</p>

                                </div>
                            </div>
                            <div class="card" style="width: 25rem;">
                                <img class="card-img-top" src="../assets/images/anh19.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="slider-detail">BÁT ĐĨA GỐM ĐẸP</p>

                                    <p class="slider-name">Bát Gốm Nghệ Thuật Felicia</p>
                                    <p class="slider-price">267.000đ</p>
                                </div>
                            </div>
                            <div class="card" style="width: 25rem;">
                                <img class="card-img-top" src="../assets/images/anh20.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="slider-detail">BÁT ĐĨA GỐM ĐẸP</p>

                                    <p class="slider-name">Bát Gốm Nghệ Thuật Harmony</p>
                                    <p class="slider-price">267.000đ</p>
                                </div>
                            </div>
                            <div class="card" style="width: 25rem;">
                                <img class="card-img-top" src="../assets/images/anh21.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="slider-detail">BÁT ĐĨA GỐM ĐẸP</p>

                                    <p class="slider-name">Bát Gốm Nghệ Thuật Men Xanh The Musen</p>
                                    <p class="slider-price">582.000đ</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="slider">
                            <div class="card" style="width: 25rem;">
                                <img class="card-img-top" src="../assets/images/ANH30.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="slider-detail">BÁT ĐĨA GỐM ĐẸP</p>

                                    <p class="slider-name">Bát Gốm Nghệ Thuật Belmond</p>
                                    <p class="slider-price">189.000đ - 684.000đ</p>
                                </div>
                            </div>
                            <div class="card" style="width: 25rem;">
                                <img class="card-img-top" src="../assets/images/anh31.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="slider-detail">BÁT ĐĨA GỐM ĐẸP</p>

                                    <p class="slider-name">Bát Gốm Nghệ Thuật Beheaven Blue</p>
                                    <p class="slider-price">1.365.000đ</p>
                                </div>
                            </div>
                            <div class="card" style="width: 25rem;">
                                <img class="card-img-top" src="../assets/images/anh32.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="slider-detail">BÁT ĐĨA GỐM ĐẸP</p>

                                    <p class="slider-name">Bộ Bát Đĩa & Gác Đũa Gốm Nghệ Thuật Violet Annalia</p>
                                    <p class="slider-price">469.000đ</p>
                                </div>
                            </div>
                            <div class="card" style="width: 25rem;">
                                <img class="card-img-top" src="../assets/images/anh29.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="slider-detail">BÁT ĐĨA GỐM ĐẸP</p>

                                    <p class="slider-name">Bát Gốm Nghệ Thuật Đài Sen</p>
                                    <p class="slider-price">371.000đ</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="customer">
        <h3 class="customer-intro"><i class="fa-solid fa-star"></i> KHÁCH HÀNG NÓI GÌ VỀ CHÚNG TÔI
        </h3>
        <div class="customer-card">
            <div class="card" style="width: 18rem;">
                <img id="customer-img" class="card-img-top" src="../assets/images/cus1.jpeg" alt="Card image cap">
                <div class="card-body">
                    <span class="rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                            class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                            class="fa-solid fa-star"></i></span>
                    <p class="customer-detail">Tôi rất thỏa mãn với những sản phẩm gốm trang trí cao cấp của Gốm Nghệ
                        Thuật. Mỗi sản phẩm gốm đều được chế tác tinh xảo, khéo léo, lồng ghép được cái hồn của người
                        nghệ sĩ vào trong từng sản phẩm. Là một người yêu nghệ thuật, Gốm Nghệ Thuật chắc chắn sẽ là
                        điểm dừng chân của tôi mỗi khi có nhu cầu về đồ gốm trang trí.</p>
                    <p class="customer-author">Chị Hà</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img id="customer-img" class="card-img-top" src="../assets/images/cus2.jpeg" alt="Card image cap">
                <div class="card-body">
                    <span class="rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                            class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                            class="fa-solid fa-star"></i></span>
                    <p class="customer-detail">Tình cờ khi đang tìm đồ trang trí nội thất cho nơi ở mới, tôi tìm thấy
                        website của Gốm Nghệ Thuật. Trước khi ghé thăm Gốm Nghệ Thuật, tôi cũng chỉ vì tò mò chứ không
                        kì vọng quá nhiều về sản phẩm gốm décor cao cấp ở đây. Tuy nhiên, thật bất ngờ khi được nhìn tận
                        mắt những sản phẩm gốm trang trí được chế tác kỳ công ở đây. Những sản phẩm khiến tôi thực sự
                        thích thú và hài lòng và quyết định sở hữu nhiều món đồ.</p>
                    <p class="customer-author">Anh Hải</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img id="customer-img" class="card-img-top" src="../assets/images/cus3.png" alt="Card image cap">
                <div class="card-body">
                    <span class="rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                            class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                            class="fa-solid fa-star"></i></span>
                    <p class="customer-detail">Những món đồ gốm trang trí được sản xuất theo quy trình công nghiệp đã
                        quá quen thuộc và khiến tôi không mấy hứng thú. Tuy nhiên khi được tận mắt chiêm ngưỡng cái nét
                        nghệ thuật tinh xảo, tỉ mỉ của những sản phẩm gốm trang trí cao cấp tại đây, tôi đã cực kì ưng ý
                        và thích thú. Không những sản phẩm đẹp, tinh tế mà nhân viên tại Gốm Nghệ Thuật cũng rất nhiệt
                        tình tư vấn và rất hiểu biết. Một trải nghiệm tuyệt vời!</p>
                    <p class="customer-author">Chị Phương</p>
                </div>
            </div>
        </div>

    </div>
    <div class="customer">
        <h3 class="customer-intro"><i class="fa-solid fa-bars"></i> ĐỒ GỐM & KHÔNG GIAN SỐNG

        </h3>
        <div class="article">
            <div class="article-item " style="width: 18rem;">
                <img width="100%" src="../assets/images/ar1.jpeg" alt="">
                <h5 class="article-intro">Top 10+ Làng Gốm Nổi Tiếng ở Việt Nam
                    Làng Gốm Việt Nam | Top 10+ Làng Gốm Nổi Tiếng ở Việt Nam</h5>
                <p class="customer-detail">Gốm nghệ thuật là một trong những phát minh quang trọng của ông cha ta. Nghệ
                    thuật gốm đã tồn tại
                    hàng ngàn năm và gắn bó mật thiết với đời sống, sinh hoạt của người dân Việt Nam. Bằng đôi bàn tay
                    khéo léo, sự sáng tạo không ngừng [...]</p>
            </div>
            <div class="article-item " style="width: 18rem;">
                <img width="100%" src="../assets/images/ar2.jpeg" alt="">
                <h5 class="article-intro">Bật Mí Cách Lựa Chọn & Bảo Quản Đồ Gốm Không Phải Ai Cũng Biết</h5>
                <p class="customer-detail">Đồ gốm decor là một sản phẩm nghệ thuật do vậy, người chơi gốm cũng được coi
                    là một người nghệ sĩ, người mà cần có một con mắt tinh tế để có thể lựa chọn được những món đồ gốm
                    đẹp và chất lượng nhất. Ngoài việc đó, người [...]</p>
            </div>
            <div class="article-item " style="width: 18rem;">
                <img width="100%" src="../assets/images/ar3.jpeg" alt="">
                <h5 class="article-intro">Quy Trình Làm Gốm | 5 Bước Làm Gốm Bạn Cần Biết</h5>
                <p class="customer-detail">Gốm, từ khi ra đời, đã luôn là một trong những sản phẩm nghệ thuật trang trí
                    được yêu thích nhất đối với người Việt Nam. Những sản phẩm gốm trên website Gốm Nghệ Thuật luôn mang
                    đến cho người tiêu dùng những sản phẩm gốm chất lượng nhất. Để [...]</p>
            </div>
        </div>

    </div>
    <div class="footer">
        <ul class="footer-list">
            <li class="footer-item" style="width: 18rem;">
                <h3>Gốm nghệ thuật</h3>
                <p>Gốm Nghệ Thuật là một thương hiệu với chất lượng, uy tín và sự nỗ lực không ngừng nghỉ sẽ mang đến
                    quý khách hàng không chỉ là một không gian đầy hoài niệm với những sản phẩm gốm trang trí đẹp, cao
                    cấp mà còn tạo nên điểm nhấn độc đáo và tinh tế của nét đẹp văn hóa nghệ thuật Việt Nam thông qua
                    những sản phẩm gốm trang trí đẹp. </p>
                <p style="color:rgb(27, 176, 253);font-size:16px;margin:12px 0">Gốm Nghệ Thuật</p>
                <p>31 A Văn Miếu, Đống Đa, Hà Nội</p>
                <p>Tel:+842437476001</p>
                <p>Hotline: +84 987 828 876</p>
                <p>Email: order@Kiettacnghethuat.com</p>
                <p>Giờ làm việc</p>
                <p>T2 tới T6: Từ 8:30 tới 18:30</p>
                <p>T7 & CN: Từ 9:30 tói 17:30</p>

            </li>
            <li class="footer-item" style="width: 18rem;">
                <h3>Giới thiệu</h3>
                <p>Giới Thiệu</p>
                <p>Liên Hệ</p>
                <p>Hợp Tác Với Chúng Tôi</p>
                <p>Blog Nghệ Thuật</p>
                <p>Bàn Nghệ Thuật</p>
                <p>Tranh Treo Tường Nghệ Thuật</p>
                <p>Sơn mai painting for sale</p>
                <p>Tranh Sơn Dầu Nghệ Thuật</p>
                <p>Quà Tặng Quý</p>





            </li>
            <li class="footer-item" style="width: 18rem;">
                <h3>Hỗ Trợ Khách Hàng</h3>
                <p>Những Câu Hỏi Thường Gặp</p>
                <p>Chỉ Dẫn Sử Dụng</p>
                <p>Điều Kiện Và Điều Khoản</p>
                <p>Hướng Dẫn Mua Hàng Online</p>


            </li>

        </ul>
    </div>







    </div>
</body>

</html>